.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
        padding-top: 38px;
        padding-bottom: 38px;
        flex-direction: column;
    }
}
.footer {
    &__nav {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.logo-footer {
    @media (max-width: 992px) {
        margin-right: 0;
        margin-bottom: 50px;
        width: 62px;
        height: 62px;
    }
}
