.reviews-list {
    &__wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: flex-start;
        @media (max-width: 1085px) {
            justify-content: center;
        }
    }
}

.loadmore {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #6f8751;
    background-color: transparent;
    margin-top: 24px;
}
