.ReviewsListItem {
    padding: 16px 24px;
    background: #f4f4f4;
    border-radius: 16px;
    max-width: 315px;

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        margin-bottom: 8px;
    }
}

.stars {
    margin-bottom: 10px;
}

.star {
}

.text-truncate {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    color: #797979;
    margin-top: 8px;
}
