.select-lang {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 40px;
}
