.select-lang {
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 40px;
    &::after {
        content: '';
        margin-left: 5px;
        display: inline-block;
        width: 16px;
        height: 8px;
        background: url('../../../img/arrow-dropdown.svg') no-repeat center;
    }
    &.active::after {
        transform: rotate(-180deg);
    }
    &__menu.active {
        display: flex;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 2px;
        display: none;
        button {
            color: #6f8751;
        }
    }
}
